body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
	width: 80%;
	margin: 0 auto;
}

/* Itemstack Rendering */

.itemstack-tooltip {
	display: none;
	position: absolute;
	background: black;
	border: 1px solid black;
	padding: 0.5em;
	color: white;
	z-index: 1000;
}

.itemstack-tooltip p {
	margin: 0;
}

.itemstack:hover .itemstack-tooltip {
	/*display: block;*/
}

.itemstack {
	width: 64px;
	height: 64px;
	background-color: #8B8B8B;
	display: inline-block;
	border: 4px solid;
	border-color: #373737 #FFF #FFF #373737;
	position: relative;
}

/* Magic for corners */
.itemstack::before, .itemstack::after {
	background-color: #8B8B8B;
	width: 4px;
	height: 4px;
	content: "";
	position: absolute;
}

.itemstack::before {
	bottom: -4px;
	left: -4px;
}

.itemstack::after {
	top: -4px;
	right: -4px;
}

.multiitem {
	display: inline-block;
}

.empty-item {
	width:64px;
	height:64px;
	display: inline-block;
}

.spotlight {
	margin: 0 auto;
}

/* Render images with pixels */
img { 
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;			/* Firefox */
    image-rendering: -o-crisp-edges;			/* Opera */
    image-rendering: -webkit-optimize-contrast;	/* Chrome (and eventually Safari) */
    image-rendering: pixelated;					/* Chrome */
    image-rendering: optimize-contrast;			/* CSS3 Proposed */
	-ms-interpolation-mode: nearest-neighbor;	/* IE8+ */
}